

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.container .row{
	margin-bottom: 30px;
}

.canvas-maps{
	border: 1px #ccc solid;
	width: 640px;
	height: 400px;
	position: relative;
	overflow: hidden;
	background: none;
}
	.canvas-maps.loading{
		/* 
			Loading Gif from: http://www.ajaxload.info/
			Used to give users something to look at while everything is loading up.
		*/
		background: url(../img/ajax-loader.gif) no-repeat center center;;
		
	}
	
	.canvas-maps > canvas{
		position: absolute;
		top:0;
		left:0;
		opacity: 1;
		z-index: 5;
		-moz-transition:opacity 0.2s linear;
		-webkit-transition:opacity 0.2s linear;
		-o-transition:opacity 0.2s linear;
		transition:opacity 0.2s linear;
	}
		.canvas-maps.loading > canvas{
			opacity: 0!important;
		}
	/*#canvasBackground{
		opacity: 0.4;
		z-index: 30;
	}
	#canvasMap{
		z-index: 10;
	}
	#canvasRoutes{
		z-index: 40;
	}
	#canvasFlare{
		z-index: 20;
	}*/
	
#terrainOptions li{
	list-style: none;
}