

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.container .row{
	margin-bottom: 30px;
}

.canvas-maps{
	border: 1px #ccc solid;
	width: 770px;
	height: 350px;
	position: relative;
	overflow: hidden;
}

	.canvas-maps > canvas{
		position: absolute;
		top:0;
		left:0;
		z-index: 5;
	}
	#canvasFlare{
		z-index: 10;
	}